:root,
:host {
	// Base colors
	--color-black: hsl(0 0% 7%);
	--color-gray: hsl(0, 0%, 25%);
	--color-blue: hsl(225, 95%, 55%);
	--color-purple: hsl(251, 77%, 60%);
	--color-lavender: hsl(251, 77%, 75%);
	--color-red: hsl(12, 100%, 40%);
	--color-orange: hsl(32, 93%, 50%);
	--color-yellow: hsl(45, 100%, 60%);
	--color-white: hsl(0 0% 100%);
}

:root,
:host {
	// Semantic colors
	--color-app-background: var(--color-black);
	--color-app-text: var(--color-white);
	--color-app-links: var(--color-yellow);
	--color-input-border: var(--color-white);
	--color-input-border-focus: var(--color-purple);
	--color-input-shadow-focus: var(--color-lavender);
	--color-button-background: var(--color-purple);
	--color-button-background-active: var(--color-lavender);
	--color-button-text: var(--color-app-text);
}
