:root,
:host {
	// Base colors
	--color-black: hsl(0 0% 7%);
	--color-gray: hsl(0, 0%, 25%);
	--color-blue: hsl(225, 100%, 60%);
	--color-purple: hsl(251, 77%, 60%);
	--color-lavender: hsl(251, 77%, 75%);
	--color-red: hsl(12, 100%, 40%);
	--color-orange: hsl(32, 93%, 50%);
	--color-yellow: hsl(45, 100%, 60%);
	--color-white: hsl(0 0% 100%);
}

:root,
:host {
	// Semantic colors
	--color-extension-background: var(--color-black);
	--color-extension-text: var(--color-white);
	--color-extension-links: var(--color-yellow);
	--color-input-border: var(--color-white);
	--color-input-border-focus: var(--color-blue);
	--color-input-shadow-focus: var(--color-blue);
	--color-button-background: var(--color-purple);
	--color-button-text: var(--color-extension-text);
	--color-remove-button-background-hover: var(--color-red);
	--color-remove-button-icon-color: var(--color-white);
	--color-switch-track-disabled: var(--color-gray);
	--color-switch-track-enabled: var(--color-blue);
	--color-switch-thumb-disabled: var(--color-white);
	--color-switch-thumb-enabled: var(--color-white);
}
