@use 'base';
@use 'fonts';

.allowed-website-add {
	margin-bottom: 3px;
}

.allowed-website-patterns {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.allowed-website-pattern {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	gap: 0 5px;
}

.allowed-website-pattern-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	background: none;
	color: var(--color-remove-button-icon-color);
	&:hover,
	&:focus-visible {
		background: var(--color-remove-button-background-hover);
	}
}
