@use 'base';
@use 'fonts';

.allowed-website-add {
	padding: 5px 8px;
	font-size: var(--font-size-s);
}

.allowed-website-patterns {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.allowed-website-pattern {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.allowed-website-pattern-input[type='text'] {
	background: none;
	border: solid 1px var(--color-input-border);
	padding: 6px 10px;
	font-size: var(--font-size-s);
	color: inherit;
	&:focus {
		box-shadow: none;
	}
}

.allowed-website-pattern-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-left: 5px;
	padding: 0;
	background: none;
}
