@use 'base';
@use 'fonts';

.allowed-website-controls {
	display: flex;
	justify-content: flex-start;
	gap: 0 5px;
	margin-bottom: 5px;
}

.allowed-website-pattern-remove {
	flex-shrink: 0;
	--button-size: 20px;
	width: var(--button-size);
	height: var(--button-size);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	background: none;
	color: var(--color-remove-button-icon-color);
	&:hover,
	&:focus-visible {
		background: var(--color-remove-button-background-hover);
	}
}
